.App {
  text-align: center;
  display: block;
  width: 700px;
  margin: 0 auto;
}

.Display {
  background-color: #808080;
  height: 100px;
  color: #fff;
  padding: 10px;
  font-weight: bold;
  text-align: right;
  width: 100%;
  font-size: xx-large;
  box-sizing: border-box;
  border: none;
}

.ButtonPanel {
  height: 100px;
  display: flex;
  flex-direction: column;
}

.calc-row {
  display: flex;
  flex-direction: row;
  height: 100px;
}

.Button {
  width: 25%;
  text-align: center;
  color: #000;
  border: 1px solid #000;
  height: 100px;
  font-size: large;
}

.Button.wide {
  width: 50%;
}

.orange {
  background: rgb(245, 145, 62);
}
